/*      LOGIN VIEW      */

.Login {
    background-color: rgba(#000, .6);
    height: 100%;
    padding: 150px;
    position: absolute;
    text-align: center;
    width: 100%;

    .background {
        background-image: url(http://i772.photobucket.com/albums/yy8/zackargyle/login-background_zpsmcglxrzv.jpg);
        background-size: cover;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    .header {
        color: white;
        font-size: 45px;
        font-weight: 500;
        text-shadow: 0 2px 6px rgba(0,0,0,0.58);
    }

    .success {
        background-image: url(http://i772.photobucket.com/albums/yy8/zackargyle/success_zpslbbajckr.png);
        background-size: cover;
        height: 30px;
        margin-top: 18px !important;
        width: 30px;
    }

    .button-wrapper {
        display: inline-block;
        margin-top: 30px;
        vertical-align: top;
        width: 225px;

        > * {
            margin: 10px auto;
        }
    }
}